.body{
    
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px ;
    
}

.main{
    display: block;
    
}
.block{
    width: 500px;
    height: 400px;
    background-image:url(../img/0.jpg);
    background-repeat: no-repeat;
background-position: center;    
}
.text{
    width: 500px;
    
    text-align: justify;
}

h3{
    text-align: center;
}

.right{
    transform: rotate(180deg);
    left: 100%;
    top: 50%;
    width: 100px;
}
.left{
    top: 50%;
        width: 100px;

}
.but{position: absolute;
    top: 0;
    
}